header.MuiPaper-root button[aria-label="Refresh"] {
  display: none;
}

.welcome-area {
  position: absolute;
  right: 0;
  margin-right: 30px;
  display: flex;
}

.welcome-text {
  margin-right: 20px;
}
/* .app-bar {
  display: flex;
  justify-content: space-between;
}

.MuiToolbar-root .MuiToolbar-dense .RaAppBar-toolbar .css-lz9mh9-MuiToolbar-root {
  display: flex;
  justify-content: space-between;
} */
